<tr>
    <td colspan="4">
        <div class="alert alert-info" role="alert">
            {{ if_extra_signs }}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="text" name="quantity_settings[empty][sign]" class="form-control" placeholder="{{ not_available }}"/>
                <input type="number" disabled name="quantity_settings[empty][number]" class="form-control" placeholder="{{ value }}" value="0"/>
            </div>
            <div class="col-sm-6">
                <input type="text" name="quantity_settings[more_than_5][sign]" class="form-control" placeholder="> 5"/>
                <input type="number" name="quantity_settings[more_than_5][number]" class="form-control" placeholder="{{ value }}"/>
            </div>
        </div>
    </td>
</tr>